body {
  background: #f2f7fb;
  color: #3f3f3f;
  font-family: 'Montserrat', sans-serif;
  }

.container {
  border-radius: 10px;
  background: #f2f7fb;
  box-shadow: 0px 0px 12px 3px #E3E9EE;
  display: block;
  width: 400px;
  min-height: 450px;
  margin: 80px auto 0;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 15px 30px 30px 30px;
}

.header__title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
}

.header__input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}

.input {
  margin: 0;
  border: none;
  border-radius: 10px;
  width: 65%;
  padding: 10px;
  font-size: 16px;
}

.input--incorrect {
  border: 1px solid red;
}

.add-button {
  width: 25%;
  padding: 10px;
  background: #fd5d76;
  color: white;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 56px;
  font-weight: 600;
}

.add-button:hover {
  background-color: #f74c66;
}

.content {
  background-color: white;
  border-radius: 10px;
  height: 100%;
  flex-grow: 2;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
}

.list__item {
  padding: 10px 0;
  cursor: pointer;
  position: relative;
  padding: 12px 50px;
}

.list__item:hover {
  background-color: #fff7f8;
}

.list__item--checked::before {
  content: '';
  position: absolute;
  border-color: #f74c66;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 12px;
  left: 25px;
  transform: rotate(45deg);
  height: 13px;
  width: 5px;
}

.close {
  position: absolute;
  right: 50px;
  font-size: 17px;
  border: none;
  background: none;
}

.close:hover {
  color: #fd5d76;
}

.header__separate-line {
  margin: 30px 0;
  opacity: 20%;
}

.save-button {
  background-color: #d1d1d1;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 100%;
}

.save-button--clicked {
  background-color: #00bd8e;
}

.footer {
  padding: 15px 30px;
  display: flex;
  align-items: center;
}

.footer-span {
  font-size: 14px;
  color: #858585;
  margin-left: 12px;
}

.error-message {
  font-size: 10px;
  color: red;
  display: none;
}

.error-message--visible {
  display: inline-block;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__input {
  margin: 0 0 15px 0;
  border: none;
  border-radius: 10px;
  width: 65%;
  padding: 10px;
  font-size: 16px;
}

.form__input--error {
  border: 2px solid red;
}


.form-button {
  padding: 10px 40px;
  background: #fd5d76;
  color: white;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border-radius: 56px;
  font-weight: 600;
  margin: 15px 0 80px 0;
  border: 1px solid #fd5d76;
}

.form-footer--span {
  font-size: 12px;
  color: #858585;
}

.form-footer--login {
  font-size: 12px;
  color: #fd5d76;
  font-weight: 600;
  margin-left: 10px;
  cursor: pointer;
}

.form-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

input::placeholder {
  color: #c0c0c0;
}

.form-button--disabled {
  cursor: not-allowed;
  background: #fdc6ce;
  border: 1px solid #fdc6ce;
}

.error {
  align-self: flex-start;
  margin: -10px 0 20px 60px;
  font-size: 12px;
  color: red;
}

.sign-up-confirmation--span {
  font-size: 14px;
  color: #858585;
  text-align: center;
  margin: 0;
}

.sign-up-confirmation--text {
  margin-top: 5px;
  margin-bottom: 15px;
}

.sign-up-confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
}